@media screen and (min-width: 450px) and (max-width: 550px) {
  .movie-title, .memory-title {
    margin-bottom: 33px;
  }
}

@media screen and (min-width: 750px) {
  .logo {
    width: 76px;
  }

  h1 {
    font-size: 3em;
  }

  .name p {
    font-size: 18px;
  }

  #featured-title {
    font-size: 2em;
  }

  .project-image {
    height: 25vh;
  }

  .project-title {
    font-size: 1.7em;
  }

  .project-link {
    font-size: 16px;
  }
}

@media screen and (min-width: 850px) {
  header, .hero {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
  .featured-work {
      max-width: 1000px;
      margin-right: auto;
      margin-left: auto;
  }
}
